@import url("https://fonts.googleapis.com/css?family=League+Spartan:300,regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:regular,500&display=swap");
@import "nullstyle";
@import "mixins";
@import "menu_button";

$mainColor: #ffffff;
$greenColor: #23b123;

body {
  font-family: "League Spartan", sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: #263238;
  color: $mainColor;
}
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ibg img {
  display: none;
}

[class*="__container"] {
  max-width: 1640px;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
[class*="__container_mini"] {
  max-width: 1440px;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.button {
  height: 50px;
  line-height: 15px;
  padding: 18px 33px;
  text-align: center;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  white-space: nowrap;
  &_o {
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    color: #fff;
  }
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 18px;
  height: 50px;
  border: 2px solid #959595;
  background-color: #252525;
  color: #959595;
  font-size: 15px;
}
.input.err {
  border: 2px solid red;
}
textarea.input {
  resize: none;
  height: 100px;
  padding: 10px 18px;
}

//////////////////////////////////////////////
//////////////// header ////////////////
//////////////////////////////////////////////

.header {
  padding: 25px 0;
  overflow: hidden;
  min-height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 18;
  transition: all 0.3s ease 0s;
}
.header-scroll {
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: block;
  & img {
    width: 100%;
  }
}
.menu {
  height: 100%;
}
.menu__list {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 767px) {
    position: fixed;
    z-index: 18;
    overflow: auto;
    top: 0;
    left: -100%;
    z-index: -1;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #000;
    transition: all ease 0.4s;
    li {
      a {
        font-size: 35px;
      }
    }
    &.active {
      left: 0;
    }
  }
}
.menu__item {
  a {
    font-family: Lato;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 0 22px;
    transition: all 0.3s;
    color: #fff;
    &:hover {
      cursor: pointer;
      color: #157415;
      transform: translateY(-2px);
    }
    &:active {
      color: #105810;
      transform: translateY(1px);
    }
    @media screen and (max-width: 920px) {
      font-size: 16px;
      padding: 0 14px;
      line-height: 16px;
    }
    @media screen and (max-width: 767px) {
      // display: none;
    }
  }
}

.header__actions {
  display: flex;
  justify-content: end;
  gap: 20px;
  @media screen and (max-width: 920px) {
    gap: 10px;
  }
}
.button {
  width: 142px;
  height: 64px;
  font-family: Lato;
  font-weight: 500;
  padding: 0;
  font-size: 18px;
  background-color: $greenColor;
  color: $mainColor;
  transition: all 0.3s;
  &:hover {
    background-color: #157415;
  }
  &:active {
    background-color: #105810;
    span:active {
      transform: translateY(1px);
    }
  }
  span {
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    height: 100%;
    width: 100%;
  }
  span:hover {
    transform: translateY(-2px);
  }
}
.header__button {
  @media screen and (max-width: 920px) {
    width: 120px;
    height: 50px;
    font-size: 14px;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.button_o {
  background-color: transparent;
  @media screen and (max-width: 767px) {
    display: block;
    margin-right: 50px;
  }
  @media screen and (max-width: 350px) {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu__icon {
    display: block;
  }
}

//////////////////////////////////////////////
//////////////// home ////////////////
//////////////////////////////////////////////

.main-page {
  display: flex;
  justify-content: center;
  padding: 100px 0;
  @media screen and (max-width: 920px) {
    padding: 20px 0;
  }
}
.main-page__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 55%;
  @media screen and (max-width: 920px) {
    max-width: 80%;
  }
}
.main-page__title {
  font-weight: 700;
  font-size: 70px;
  line-height: 65px;
  letter-spacing: 1px;
  color: #ffffff;
  padding-top: 69px;
  @media screen and (max-width: 920px) {
    padding-top: 30px;
    font-size: 60px;
    line-height: 59px;
  }
  span {
    color: $greenColor;
  }
}
.main-page__subtitle {
  padding: 50px 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 180%;
  max-width: 80%;
  @media screen and (max-width: 920px) {
    padding: 30px 0;
    font-size: 16px;
    line-height: 150%;
  }
}
.main-page__form {
}
.form {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  gap: 3px;
  justify-content: space-between;
  padding: 6px;
  align-items: center;
  max-width: 533px;
  width: 80%;
  @media screen and (max-width: 920px) {
    width: 100%;
  }
  @media screen and (max-width: 480px) {
    flex-direction: column;
  }
}
.form__label {
  height: 100%;
  width: 100%;
  display: flex;
}
.form__input {
  width: 100%;
  font-size: 18px;
  border: 3px solid transparent;
  padding-left: 5px;
  border-radius: 10px;
  transition: all 0.5s ease;
  @media screen and (max-width: 480px) {
    text-align: center;
    font-size: 20px;
  }
  &::placeholder {
    transition: all 0.3s ease;
    color: #000;
  }
  &:focus {
    border: 3px solid #000;
  }
  &:hover::placeholder {
    color: $greenColor;
  }
  &:focus::placeholder {
    color: transparent;
  }
}
.form__button {
  flex: 0 0 auto;
  @media screen and (max-width: 480px) {
    flex: 1 1 auto;
    width: 100%;
    height: 100px;
  }
}

//////////////////////////////////////////////
//////////////// partners ////////////////
//////////////////////////////////////////////

.partners {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  justify-content: space-around;
}
.partners__link {
  text-align: center;
  flex: 1 1 auto;
  padding: 20px 10px;
}
.partners__img {
  max-width: 100%;
}

//////////////////////////////////////////////
//////////////// content ////////////////
//////////////////////////////////////////////

.content {
  counter-reset: section;
  padding: 200px 0;
  @media screen and (max-width: 1024px) {
    padding: 100px 0;
  }
  @media screen and (max-width: 768px) {
    padding: 50px 0;
  }
}
.content__wrap {
}
.content__item {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 96px;
  padding-bottom: 200px;
  &:nth-child(even) {
    .content__item-content {
      order: 2;
    }
    .content__item-image {
      order: 1;
      .image-bg {
        &::before {
          content: "";
          display: block;
          position: absolute;
          border: 1px solid white;
          z-index: 1;
          border-radius: 50%;
          height: 585px;
          width: 585px;
          top: 390px;
          right: 390px;
        }
        &::after {
          content: "";
          display: block;
          position: absolute;
          border: 1px solid white;
          z-index: 1;
          border-radius: 50%;
          height: 585px;
          width: 585px;
          top: 310px;
          right: 400px;
        }
      }
    }
  }
  &:last-child {
    padding-bottom: 0;
    .content__item-image {
      flex: 1 1 40%;
    }
    .image-bg {
      padding: 0;
    }
    .content-list__icon {
      position: relative;
      flex: 0 0 64px;
      height: 64px;
      width: 64px;
      background: rgba(255, 255, 255, 0.05);
      color: rgb(255, 255, 255);
      &::after {
        counter-increment: section;
        content: counter(section);
        font-size: 40px;
        padding-top: 8px;
      }
    }
    .content-list__item {
      align-items: center;
    }
    .content-list__title {
      padding-bottom: 0;
      font-weight: 400;
    }
  }
  @media screen and (max-width: 1024px) {
    gap: 40px;
  }
  @media screen and (max-width: 768px) {
    gap: 15px;
  }
}
.content__item-content {
  flex: 1 1 40%;
  @media screen and (max-width: 992px) {
    flex: 0 1 90%;
  }
}
.content__title {
  font-weight: 600;
  font-size: 76px;
  line-height: 72px;
  letter-spacing: 1px;
  align-items: center;
  color: #ffffff;
  padding-bottom: 32px;
  @media screen and (max-width: 1024px) {
    font-size: 65px;
    line-height: 60px;
    padding-bottom: 25px;
  }
  @media screen and (max-width: 768px) {
    font-size: 60px;
    padding-bottom: 20px;
  }
  span {
    color: $greenColor;
  }
}
.content__subtitle {
  font-weight: 300;
  font-size: 22px;
  line-height: 140%;
  @media screen and (max-width: 768px) {
    font-size: 18px;
  }
}
.content-list__item {
  padding-top: 48px;
  display: flex;
  align-items: flex-start;
  gap: 32px;
  @media screen and (max-width: 768px) {
    padding-top: 35px;
  }
  @media screen and (max-width: 425px) {
    gap: 15px;
  }
}
.content-list__icon {
  flex: 0 0 110px;
  background: rgba(0, 128, 0, 0.1);
  border-radius: 50%;
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 425px) {
    width: 80px;
    height: 80px;
    flex: 0 0 80px;
    img {
      max-width: 60%;
    }
  }
}
.content-list__text {
  max-width: 348px;
}
.content-list__title {
  padding-bottom: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: 0.8px;
  @media screen and (max-width: 425px) {
    font-size: 20px;
  }
}
.content-list__article {
  padding-right: 10px;
  font-weight: 300;
  font-size: 22px;
  line-height: 130%;
  @media screen and (max-width: 425px) {
    font-size: 18px;
  }
}
.content-spollers {
  padding: 50px 0;
}
.content-spollers__spoller {
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  &[open] {
    summary {
      &::before {
        content: "\2227";
        position: absolute;
        overflow: hidden;
        font-size: 30px;
        color: $greenColor;
        font-weight: 300;
        height: 100%;
        top: 0;
        right: 25px;
        display: flex;
        align-items: center;
        transform: rotateX(50deg);
      }
    }
  }
  summary {
    padding: 25px 50px 25px 25px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    display: flex;
    height: 100%;
    position: relative;
    @media screen and (max-width: 425px) {
      font-size: 20px;
    }
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: "\2228";
      position: absolute;
      overflow: hidden;
      font-size: 30px;
      color: $greenColor;
      font-weight: 300;
      height: 100%;
      top: 0;
      right: 25px;
      display: flex;
      align-items: center;
      transform: rotateX(50deg);
    }
    &::marker {
      display: none;
      content: "";
    }
  }
  p {
    padding: 25px;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1px;
    @media screen and (max-width: 425px) {
      font-size: 18px;
    }
  }
}
.content__item-image {
  flex: 1 1 50%;
  @media screen and (max-width: 992px) {
    flex: 0 1 90%;
  }
}
.image-bg {
  position: relative;
  text-align: center;
  padding: 166px 45px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    padding: 100px 40px;
  }
  @media screen and (max-width: 425px) {
    padding: 40px 20px;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid white;
    z-index: 1;
    border-radius: 50%;
    height: 585px;
    width: 585px;
    top: -120px;
    right: -310px;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid white;
    z-index: 1;
    border-radius: 50%;
    height: 585px;
    width: 585px;
    top: -170px;
    right: -270px;
  }
  img {
    display: block;
    position: relative;
    z-index: 2;
    max-width: 100%;
    border-radius: 24px;
  }
}
.content__link {
  @media screen and (max-width: 992px) {
    display: flex;
    justify-content: center;
  }
}
.content__button {
  margin-top: 50px;
  font-size: 22px;
  font-weight: 400;
  padding: 22px 55px;
  width: 222px;
  @media screen and (max-width: 992px) {
    flex: 0 1 60%;
    min-width: 222px;
  }
}

//////////////////////////////////////////////
//////////////// responses ////////////////
//////////////////////////////////////////////

.response {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
}
.response__title {
  padding-bottom: 32px;
  font-weight: 600;
  font-size: 74px;
  line-height: 78px;
  text-align: center;
  span {
    color: $greenColor;
  }
  @media screen and (max-width: 425px) {
    font-size: 55px;
    line-height: 60px;
    padding-bottom: 20px;
    line-height: 50px;
  }
}
.response__subtitle {
  font-weight: 300;
  font-size: 22px;
  line-height: 130%;
  max-width: 560px;
  padding-bottom: 48px;
  text-align: justify;
  @media screen and (max-width: 425px) {
    line-height: 110%;
    font-size: 20px;
  }
}
.response__items {
  display: flex;
  gap: 48px;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
    max-width: 80%;
  }
}
.response__item {
  display: flex;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}
.response__left {
  display: flex;
  img {
    max-width: 300px;
  }
  @media screen and (max-width: 768px) {
    margin-top: 20px;
    border-radius: 20px;
    overflow: hidden;
  }
}
.response__right {
  padding: 32px;
  display: flex;
  flex-direction: column;
}
.response__text {
  flex: 1 1 auto;
  font-weight: 300;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 1px;
  padding-bottom: 20px;
}
.response__name {
  flex: 0 0 auto;
  font-weight: 400;
  font-size: 22px;
  line-height: 177%;
}
.response__button {
  margin-top: 48px;
  width: 222px;
}

//////////////////////////////////////////////
//////////////// apps ////////////////
//////////////////////////////////////////////

.apps {
  background: rgba(255, 255, 255, 0.07);
  border-radius: 20px;
  padding: 72px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 1024px) {
    padding: 50px 0;
  }
  &::before {
    content: "";
    display: block;
    height: 580px;
    width: 580px;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.37);
    border-radius: 50%;
    top: -25%;
    left: 29.6%;
    z-index: 1;
  }
  &::after {
    content: "";
    display: block;
    height: 580px;
    width: 580px;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.37);
    border-radius: 50%;
    top: -6%;
    left: 29.6%;
    z-index: 1;
  }
}
.apps__title {
  position: relative;
  z-index: 2;
  font-weight: 600;
  font-size: 60px;
  line-height: 60px;
  max-width: 50%;
  padding-bottom: 50px;
  @media screen and (max-width: 1024px) {
    max-width: 80%;
  }
  @media screen and (max-width: 768px) {
    max-width: 95%;
    font-size: 45px;
    line-height: 50px;
    padding-bottom: 30px;
  }
  @media screen and (max-width: 425px) {
    font-size: 35px;
    line-height: 35px;
  }
  span {
    color: $greenColor;
  }
}
.apps__links {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  z-index: 2;
  @media screen and (max-width: 425px) {
    flex-direction: column;
  }
}
.apps__apple {
  flex: 1 1 auto;
}
.apps__google {
  flex: 1 1 auto;
}

//////////////////////////////////////////////
//////////////// footer ////////////////
//////////////////////////////////////////////

.footer-top {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 30px;
  padding-bottom: 100px;
  position: relative;
  @media screen and (max-width: 1023px) {
    flex-direction: column;
    align-items: center;
  }
  &::after {
    content: "";
    position: absolute;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.42);
    width: 100%;
    height: 1px;
    bottom: 0;
  }
}
.footer-top__info {
  flex: 1 1 33.33%;
  text-align: left;
  @media screen and (max-width: 1023px) {
    width: 80%;
    text-align: center;
  }
}
.footer__logo {
  padding-bottom: 24px;
}
.footer__description {
  font-weight: 300;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 1px;
  max-width: 352px;
  @media screen and (max-width: 1023px) {
    max-width: 100%;
  }
}
.footer-top__form {
  flex: 1 1 33.33%;
  text-align: center;
  @media screen and (max-width: 1023px) {
    width: 80%;
  }
}
.footer-top__form-title {
  font-weight: 300;
  font-size: 22px;
  line-height: 130%;
  padding-bottom: 24px;
  letter-spacing: 1px;
  text-align: left;
  max-width: 438px;
  @media screen and (max-width: 1023px) {
    text-align: center;
    max-width: 100%;
  }
}
.footer-form {
  width: 100%;
  @media screen and (max-width: 1023px) {
    max-width: 100%;
  }
}
.footer-form__label {
  height: 64px;
}
.footer-form__button {
  @media screen and (max-width: 480px) {
    height: 64px;
  }
}
.footer-top__links {
  flex: 1 1 33.33%;
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  @media screen and (max-width: 425px) {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.footer-social {
  @media screen and (max-width: 425px) {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-start;
  }
}
.footer-social__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 1px;
  padding-bottom: 24px;
  @media screen and (max-width: 425px) {
    padding-bottom: 0;
  }
}
.footer-social__links {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
.footer-social__link {
  background-color: #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
}
.footer-number {
  @media screen and (max-width: 425px) {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-start;
  }
}
.footer-number__text {
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 1px;
  padding-bottom: 24px;
  @media screen and (max-width: 425px) {
    text-align: center;
    padding-bottom: 0;
  }
}
.footer-number__tel {
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  letter-spacing: 1px;
}
.footer-bottom {
  padding: 58px 0;
  display: flex;
  flex-wrap: wrap;
}
.footer-bottom__copyright {
  flex: 1 1 auto;
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 1px;
  @media screen and (max-width: 992px) {
    order: 2;
    padding-top: 30px;
    text-align: center;
  }
}
.footer-bottom-links {
  flex: 0 1 auto;
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  @media screen and (max-width: 992px) {
    flex: 1 1 100%;
    order: 1;
    gap: 20px;
  }
}
.footer-bottom-links__link {
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 1px;
  a {
    color: #fff;
  }
}
